services:
  traefik:
    container_name: traefik
    image: traefik:${TRAEFIK_VERSION}
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    mem_limit: 256m
    mem_reservation: 64m
    cpus: 0.5
    networks:
      - homelab
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.${BASE_URL}`)"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"

networks:
  homelab:
    external: true
