services:
  mazanoke:
    container_name: mazanoke
    image: ghcr.io/civilblur/mazanoke:${MAZANOKE_VERSION}
    restart: unless-stopped
    mem_limit: 1g
    mem_reservation: 256m
    cpus: 1.0
    networks:
      - homelab
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mazanoke.rule=Host(`mazanoke.${BASE_URL}`)"
      - "traefik.http.services.mazanoke.loadbalancer.server.port=80"

networks:
  homelab:
    external: true
